body{
    background-color: black;
    color: white;
     }
.ttt{
    height: 500px;
    width: 440px;
}
.logo-img{
    height: 22px;
    width: 67px;

}
.hero {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }

    .title {
      font-size: 4.5rem;
      font-weight: 900;
      letter-spacing: 2px;
      color: white;
    }

    .name {
      font-size: 3.5rem;
      font-weight: 900;
      background: linear-gradient(90deg, #ff5f9e, #ffb347, #ffd700);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .social-icons a {
      width: 48px;
      height: 48px;
      border: 2px solid #fff;
      border-radius: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      margin: 0 8px;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      text-decoration: none;
    }

    .social-icons a:hover {
      background: #fff;
      color: #000;
    }

    .btn-cv {
      margin-top: 30px;
      background: #2b2b2b;
      color: #fff;
      padding: 14px 40px;
      font-weight: 600;
      border-radius: 6px;
      text-decoration: none;
      display: inline-block;
    }

    .btn-cv:hover {
      background: #444;
    }

    @media (max-width: 768px) {
      .title {
        font-size: 3rem;
      }
      .name {
        font-size: 2.3rem;
      }
    }
    .stats{
  background:linear-gradient(180deg,#0c0c0c,#060606);
  border-radius:16px;
  padding:30px;
  box-shadow:0 0 40px rgba(0,255,150,.15);
}
.stat-number{
  font-size:2.5rem;
  font-weight:900;
  color:#b8ffcc;
}
.stat-text{
  font-size:.9rem;
  color:#cfcfcf;
}
.star{
  color:#b8ffcc;
  font-size:1.2rem;
}
.section-title{
  margin:60px 0 20px;
  font-weight:800;
}
.card-ui{
  background:#0b0b0b;
  border-radius:14px;
  padding:15px;
  border:1px solid #1c1c1c;
}
.card-ui img{
  width:100%;
  border-radius:10px;
}
.tag{
  font-size:.7rem;
  padding:3px 8px;
  border-radius:20px;
  background:#2b1b3d;
  color:#cfa9ff;
}
.view-btn{
  font-size:.75rem;
  color:#aaa;
  text-decoration:none;
}
.view-btn:hover{color:#fff}
.skill-card{
  background:#0b0b0b;
  border-radius:14px;
  padding:20px;
  border:3px solid #1c1c1c;
  
}
.circle{
  width:90px;
  height:90px;
  border-radius:50%;
  background:conic-gradient(#ffb347 0deg 320deg,#222 320deg);
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:800;
}
.circle span{
  background:#000;
  width:70px;
  height:70px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.skill-title{
  font-weight:700;
}
.skill-text{
  font-size:.8rem;
  color:#aaa;
}
@media (max-width: 576px){
.skill-card{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center
}

}
.footer-links{
  color: whitesmoke;
}

.testimonial{
  padding:80px 20px;
  background:linear-gradient(120deg,#ff0057,#ff7a18,#ffc371);
  text-align:center;
}
.testimonial h3{
  font-weight:700;
  margin-bottom:20px;
}
.testimonial p{
  max-width:850px;
  margin:auto;
  font-size:1.1rem;
  line-height:1.7;
}
.shield{
  font-size:36px;
  margin-top:30px;
}
.cta-wrapper{
  background:#000;
  padding:60px 0;
}
.cta-card{
  background:#a783f7;
  border-radius:18px;
  padding:20px;
  color:#fff;
 display:flex;
  align-items:center;
  gap:20px;
}
.cta-img img{
  width:90px;
  height:auto;
  border-radius:14px;
}
.cta-content h5{
  font-weight:600;
  margin-bottom:8px;
}

.cta-content p{
  font-size:15px;
  line-height:1.6;
  margin:0;
}
.avatar{
  margin-left:auto;
  width:45px;
  height:45px;
  border-radius:50%;
  background:#ff8a00;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:700;
}
@media (max-width: 576px){
  .cta-card{
    flex-direction:column;
    text-align:center;
  }

  .cta-img img{
    width:80px;
  }

  .cta-content h5{
    font-size:16px;
  }

  .cta-content p{
    font-size:14px;
  }
}
.custom-text {
     margin-left: 120px;
      font-size: 16px;
      line-height: 1.5;
      margin-top: 12px;
    }
